doctype html
html(lang='ru')
	head
		title AMERS - Блог
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.blog-page
				mixin item (name, date, img, short, ...tags)
					.col-md-4.blog-post
						a.header-block(href="article.html")
							.image-holder
								img(src= img, alt= name).fake-img
								.img(style="background-image:url(#{img})")
							h3= name
						.info-block!= '<a href="#">Автор,</a> <time>' + date + ' </time>, '
							if tags
								span.tags-holder
									- for (var key in tags)
										a(href= '#' + tags[key])= '#' + tags[key] + ' '
						p= short

				.container
					.row.blog-page-posts-holder
						+item(
							'Как выбрать ортопедический диван',
							'2 дня назад',
							'http://amers.ck.ua/upload/Milana.jpg',
							'Равным образом укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития...',
							'диваны',
							'скидки',
							'праздник'
						)
						+item(
							'Как купить диван',
							'неделю назад',
							'http://amers.ck.ua/upload/Domenico_3.jpg',
							'Повседневная практика показывает, что сложившаяся структура организации требуют от нас структура организации требуют от нас анализа существенных финансовых и административных условий...',
							'диваны',
							'скидки',
							'праздник'
						)
						+item(
							'Как найти себя',
							'5 окт. 2016',
							'http://amers.ck.ua/upload/Senator_1.jpg',
							'Задача организации, в особенности же новая модель организационной деятельности организационной деятельности требуют определения и уточнения новая модель системы обучения кадров, соответствует...',
							'диваны',
							'скидки',
							'праздник'
						)
					.row.blog-page-posts-holder
						+item(
							'Почему бы не потерять ключи',
							'более года назад',
							'http://amers.ck.ua/upload/Nataly_Lumins2.jpg',
							'Разнообразный и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий...',
							'диваны',
							'скидки',
							'праздник'
						)

				.container
					include ./partials/pagination.jade

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
