doctype html
html(lang='ru')
	head
		title AMERS - Блог
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.blog-page
				mixin item (name, date, img, short, ...tags)
					.col-md-12.blog-post
						a(href="article.html").image-holder
							img(src= img, alt= name).fake-img
							.img(style="background-image:url(#{img})")
						a(href="article.html")
							h3= name
						.info-block!= '<a href="#">Автор,</a> <time>' + date + ' </time>, '
							if tags
								span.tags-holder
									- for (var key in tags)
										a(href= '#' + tags[key])= '#' + tags[key] + ' '
						p= short
						a(href="article.html").btn.btn-primary
							span Читать

				.container
					.row.blog-page-posts-holder
						+item(
							'Как выбрать ортопедический диван',
							'2 дня назад',
							'http://amers.ck.ua/upload/Milana.jpg',
							'Равным образом укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке систем массового участия. С другой стороны укрепление и развитие структуры способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет оценить значение систем массового участия...',
							'диваны',
							'скидки',
							'праздник'
						)
						+item(
							'Как купить диван',
							'неделю назад',
							'http://amers.ck.ua/upload/Domenico_3.jpg',
							'Повседневная практика показывает, что сложившаяся структура организации требуют от нас анализа существенных финансовых и административных условий. Равным образом сложившаяся структура организации играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! консультация с широким активом влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития...',
							'диваны',
							'скидки',
							'праздник'
						)
						+item(
							'Как найти себя',
							'5 окт. 2016',
							'http://amers.ck.ua/upload/Senator_1.jpg',
							'Задача организации, в особенности же новая модель организационной деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Товарищи! постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Товарищи! консультация с широким активом позволяет оценить значение систем массового участия...',
							'диваны',
							'скидки',
							'праздник'
						)
						+item(
							'Почему бы не потерять ключи',
							'более года назад',
							'http://amers.ck.ua/upload/Nataly_Lumins2.jpg',
							'Разнообразный и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации. Задача организации, в особенности же консультация с широким активом способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет выполнять важные задания по разработке новых предложений...',
							'диваны',
							'скидки',
							'праздник'
						)

				.container
					include ./partials/pagination.jade

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
