doctype html
html(lang='ru')
	head
		title AMERS - каталог
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.catalog-page
				mixin item (name, img, category, short, price, city)
					a(href="#" data-toggle="modal" data-target="#sale-item-modal").col-md-4.catalog-item.sale
						//- a(href="item-card.html")
							//- h3= name
						.image-holder
							img(src= img, alt= name).fake-img
							.img(style="background-image:url(#{img})")
							.hover
								//- h3= name
							.catalog-item-details
								p!= short
							.sale-shield
								span= city
						.catalog-item-description
							h4= category
							h3= name
							p!= '<strike>' + (+price + 800) + '</strike> <b>' + price + '</b> <small>грн</small>'
							//- .buttons-holder
								a(href="item-card.html" tabindex="-1").btn.btn-grey Подробней
								a(href="item-card.html" tabindex="-1").btn.btn-primary Купить

				.page-label.warning(style="background-image: url('http://zegen.ua/img/p/1/2/1/121.jpg')")
					.container
						.row
							.col-md-12
								.catalog-category-name
									h1 Готовые диваны в распродаже
									p Распродажа готовых диванов, собранных нашими лучшими дизайнерами и экспертами для Вас. Если Вы выбрали свой диван, оформите заказ online или нажмите "Купить" и наши менеджеры оперативно оформят и отправят его Вам. Вашу покупку доставят в течении 5 рабочих дней по Украине.
									p *Фото и комплектации могут отличаться от оригинальной модели, выставленной в салоне для Распродажи. Обязательно уточняйте наличие модели и цвет обивочного материала!

				.sort-controls
					.container-alt
						.row
							.col-md-12
								span.dropdown-holder
									button#dLabel1(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
										| Выбрать город: 
										span.caret

									ul.dropdown-menu(aria-labelledby='dLabel1')
										a(href="#") Киев
										a(href="#") Сумы
										a(href="#") Харьков
										a(href="#") Одесса
										a(href="#") Полтава
										a(href="#") Запорожье
										a(href="#") Хмельницкий
										a(href="#") Черкассы

								span.dropdown-holder
									button#dLabel2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
										| Тип дивана: 
										span.caret

									ul.dropdown-menu(aria-labelledby='dLabel2')
										a(href="#") Угловой
										a(href="#") Прямой
										a(href="#") Еще какой-то

				.container-alt
					.row.catalog-category-items-holder
						+item(
							'Милана',
							'http://www.galameble.com/wp-content/uploads/tempo_640_1.jpg',
							'Угловой диван',
							'Адрес: г.Киев, ТРЦ DREAM-TOWN-2, Оболонский пр-кт, 21Б<br/>Телефон: (044) 390-1001<br/>Ткань: london-chocolate (замша)<br/>Механизм трансформации: "Реклайнер"',
							'86820',
							'Киев'
						)
						+item(
							'Доната',
							'http://www.galameble.com/wp-content/uploads/Mondo_5_640.jpg',
							'Прямой диван',
							'Адрес: г. Днепр, Салон "Zlatamebel", ТЦ "Biennale", ул.Космическая,53 А<br />Телефон: (044) 390-1001<br />Ткань: sabbia-925 (замша)<br />Механизм трансформации: "Электрореклайнер"',
							'95950',
							'Черкассы'
						)
						+item(
							'Сенатор',
							'http://www.galameble.com/wp-content/uploads/gala-kanapa-asti.jpg',
							'Прямой диван',
							'Адрес: г. Кривой Рог (склад) <br />Телефон: (044) 390-1001<br />Ткань: bambu-02 (рогожка)<br />Механизм трансформации: нет',
							'98410',
							'Кривой Рог'
						)
						+item(
							'Болеро',
							'http://www.galameble.com/wp-content/uploads/yuppie_640.jpg',
							'Прямой диван',
							'Адрес: г. Кривой Рог (склад) <br />Телефон: (044) 390-1001<br />Ткань: savanna-15 orange (жаккард)<br />Механизм трансформации: "Инфагрид", "Реклайнер"<br />*Комплект выполняется под заказ в течении 2 недель с момента заказа.',
							'53140',
							'Черкассы'
						)
						+item(
							'Диана',
							'http://www.galameble.com/wp-content/uploads/tivoli_sofa_miniatura.jpg',
							'Угловой диван',
							'Адрес: г.Киев, Салон "Zlatamebel", ТЦ "АРАКС", 2эт., пав.67, ул.Большая кольцевая, 110<br />Телефон: (044) 390-1001<br />Ткань: chelsea-red (кожа)<br />Механизм трансформации: "Ходри"',
							'17750',
							'Киев'
						)
						+item(
							'Джули',
							'http://www.galameble.com/wp-content/uploads/stella_sofa_miniatura.jpg',
							'Угловой диван',
							'Адрес: г.Днепр, салон "Zlatamebel", ТЦ "КАРАВАН",ул.Нижнеднепровская,17<br />Телефон: (044) 390-1001<br />Ткань: Almira 13-soft ivory (велюр)<br />Механизм трансформации: "Седафлекс"',
							'83930',
							'Днепр'
						)
						+item(
							'Лоретта',
							'http://www.galameble.com/wp-content/uploads/relax_sofa_miniatura.jpg',
							'Угловой диван',
							'Адрес: г. Киев, Салон "Zlatamebel", ТЦ ДИАМАНТ, (1 эт), ул. Петропавловская, 14Е<br />Телефон: (044) 390-1001<br />Ткань: chelsea-red (кожа)<br />Механизм трансформации: "Ходри"',
							'35120',
							'Киев'
						)
						+item(
							'Освальд',
							'http://www.galameble.com/wp-content/uploads/play_sofa_miniatura.jpg',
							'Прямой диван',
							'Адрес: г.Кривой Рог, салон "Zlatamebel", ул.Владимира Великого(Мелешкина),24 Д<br />Телефон: (044) 390-1001<br />Ткань: buderus-6811 (кожа)<br />Механизм трансформации: "Торнадо"',
							'50750',
							'Черкассы'
						)
						+item(
							'Доната',
							'http://www.galameble.com/wp-content/uploads/planet_sofa_miniatura.jpg',
							'Прямой диван',
							'Адрес: г. Днепр, Салон "Zlatamebel", ТЦ "Biennale", ул.Космическая,53 А<br />Телефон: (044) 390-1001<br />Ткань: panarea-9 (рогожка)<br />Механизм трансформации: "Дельфин"',
							'25320',
							'Черкассы'
						)
						+item(
							'Сенатор',
							'http://www.galameble.com/wp-content/uploads/Verona_sofa_640-2.jpg',
							'Прямой диван',
							'Адрес: г.Кривой Рог, Склад<br />Телефон: (044) 390-1001<br />Ткань: idea-7047 (рогожка)<br />Механизм трансформации: "Дельфин"',
							'12900',
							'Кривой Рог'
						)
						+item(
							'Сенатор',
							'http://www.galameble.com/wp-content/uploads/camino_sofa_miniatura.jpg',
							'Прямой диван',
							'Адрес: г.Киев, Салон "Zlatamebel", ТЦ "ГЛОБАЛ", ул.Оноре де Бальзака, 2А<br />Телефон: (044) 390-1001<br />Ткань: panarea-10 (рогожка)<br />Механизм трансформации: "Дельфин"',
							'83830',
							'Киев'
						)

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
