doctype html
html(lang='ru')
	head
		title AMERS - отзывы
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		mixin feed (name, img, user, city, date, description)
			li.feedback
				.header-block
					a(href="#")
						h3= name
						img(src= img, alt= name)
				.info-block
					ul
						li
							span= user
						li
							span= city
						li
							span= date
						li
							span.star-filled
							span.star-filled
							span.star-filled
							span.star-filled
							span.star
				.comment-block
					p= description


		content
			.feedback-page
				.page-label(style="background-image: url('https://www.pufetto.com.ua/img/pages/opinion.jpg')")
					.container
						.row
							.col-md-12
								.catalog-category-name
									h1 Отзывы о мягкой мебели AMERS
									p Комфорт и качество наших диванов и кроватей достойны хороших слов. <br /> Лучше всего о них расскажут их довольные хозяева.
				.container
					.row
						.col-md-12
							ul.feedbacks-holder
								+feed(
									'Трехместный диван Rafaella',
									'https://www.pufetto.com.ua/items/vito/c/1/small/c.vito.jpg',
									'Анастасия',
									'Киев',
									'20.01.2017',
									'Як на мене, досить незручний механізм розкладання/складання. Ніша для білизни закривається фанерними "дверцятами", які в піднятому стані погано тримаються і весь час падають. Через це потрібно притримувати однією рукою ці фанерки, а іншою запихувати постіль. Для того, щоб покласти постіль з іншої сторони диван потрібно обходити. Добре, коли є з ким розділити цей процес:). Задню стінку можна було б зробити тоншою, це не вплинуло б на розмір спального місця чи місця для сидіння, але диван займав би менше місця в кімнаті. Загалом диван зручний та гарний.'
								)
								+feed(
									'Трехместный диван Greta',
									'https://www.pufetto.com.ua/items/greta/c/1/small/c.greta.jpg',
									'Людмила',
									'г. Киев',
									'18.01.2017',
									'Уже длительное время ищу комплект раскладной диван+раскладное кресло для малогабаритной квартиры, причем, хочется, чтобы было удобно не только спать, но и сидеть. Этим пожеланиям как нельзя лучше соответствует диван Грета: мягкий, компактный, с хорошим раскладным механизмом. Но, как оказалось, изготовить РАСКЛАДНОЕ кресло (с любым механизмом!) для Pufetto не под силу, поэтому от идеи приобрести здесь мягкую мебель пришлось отказаться. Очень сожалею...'
								)
								+feed(
									'Трехместный диван Rafaella',
									'https://www.pufetto.com.ua/items/antonio/c/1/small/c.antonio.jpg',
									'Константин',
									'Ирпень',
									'15.01.2017',
									'Купили диван Антоніо, якраз був зі знижкою і підходив нам по кольору. Виглядає диван дуже презентабельно, різницю із загальним базарним мейнстрімом видно здалеку :) Також окремо хочу відзначити як організували доставку: дивану зробили хімчистку ще на складі і додому привезли і зібрали вже готовим до використання. Компанії Пуфетто хочу побажати тримати себе в творчому тонусі і продовжувати дотримуватись своїх високих стандартів якості обслуговування.'
								)
								+feed(
									'Пуф Silvio',
									'https://www.pufetto.com.ua/items/silvio/e/1/small/e.silvio.jpg',
									'Лилия',
									'Очаков',
									'12.01.2017',
									'Заказывали диван, а сейчас заказали пуф к дивану. Заказ пришёл вовремя, обслуживание хорошее. Спасибо. Рекомендую!!! Удачи Вам!!!'
								)
								+feed(
									'Трехместный диван Claudia',
									'https://www.pufetto.com.ua/items/claudia/c/1/small/c.claudia.jpg',
									'Евгений',
									'Кривое Озеро',
									'11.01.2017',
									'Диван дуже зручний, м"який, чудово підійшов до камінної зали. Його розміри дозволяють вмістити велику сім"ю. Пройшов випробування чотирма малими внуками на відмінно - плями від цукерок легко видаляються вологою ганчіркою.'
								)
								+feed(
									'Кресло Paolo',
									'https://www.pufetto.com.ua/items/paolo/a/1/small/a.paolo.jpg',
									'Виктория',
									'Ирпень',
									'10.01.2017',
									'Все понравилось, уже 3 покупка'
								)
								+feed(
									'Угловой диван Renata',
									'https://www.pufetto.com.ua/items/renata/d/1/small/d.renata.l.jpg',
									'Александра',
									'Одесса',
									'29.12.2016',
									'Очень довольны заказом. Диван выглядит очень красиво, ткань ETNA супер, переживали, чтоб не выглядел просто. Все было выполнено в срок, служба доставки/сборки пунктуальна, надели бахилы при входе, что я считаю безусловным плюсом. Будем рекомендовать'
								)
								+feed(
									'Трехместный диван Andrea',
									'https://www.pufetto.com.ua/items/andrea/c/1/small/c.andrea.jpg',
									'Ирина',
									'Харьков',
									'28.12.2016',
									'Добрый вечер. В канун праздника хотелось бы сказать слова благодарности компании Пуфетто! Я очень требовательный покупатель с некоторыми проблемами позвоночника. Когда попала в шоу-рум к Татьяне, поняла-это мое. Прежде всего -сервис обслуживания, отношение и польза советов. Выбрали модель, ткань. Итальянские ткани невероятно красивые-с трудом выбрала. Привезли раньше срока, собрали мгновенно, без мусора. Вежливые ребята. После месяца сна, брат заметил неравномерный уровень двух половинок дивана. Проблема решилась просто. Пуфетто прислал мастера, который убедился в жалобе и все отрегулировал. Сплю на диване уже 3 месяца -очень удобно. Спина отдыхает. Удобный ящик для белья, легкая сборка дивана. Супер просто. И особые приятности, у Пуфетто проходят акции постоянно -можно что-то выиграть-например, подставка под чашку на диван-незаменимая вещь. Татьяна на своем месте. Решит любые проблемы и сомнения, я уверена. спасибо огромное.'
								)
								+feed(
									'Двухспальная кровать Dimaro',
									'https://www.pufetto.com.ua/items/dimaro/g/1/small/g.dimaro.jpg',
									'Ольга',
									'Киев',
									'27.12.2016',
									'Заказ приняли оперативно. Доставили даже чуть раньше обещанного срока. Сборщики вежливые, аккуратные, в бахилах. Качество кроватки и матраца - на высоте, сплошное удовольствие. Один момент - цвет обивки все же лучше выбирать не полагаясь на фото с сайта, т.к. вышло чуть темнее ожидаемого.'
								)
								+feed(
									'Угловой диван Bella',
									'https://www.pufetto.com.ua/items/bella/d/1/small/d.bella.l.jpg',
									'Леся',
									'Киев',
									'26.12.2016',
									'Диваны от Пуфетто красивые и качественные. Заказываю не первый раз очень довольна и всем друзьям рекомендую. Большой выбор моделей под любой дизайн и ткань легко подобрать.Делают в сроки.Приятные менеджеры всегда посоветуют подскажут!!!!'
								)
								+feed(
									'Трехместный диван Matteo',
									'https://www.pufetto.com.ua/items/matteo/c/1/small/c.matteo.jpg',
									'Лариса',
									'Виноградов',
									'24.12.2016',
									'Мы с мужем сделали свой выбор в пользу AMERS, потому что нас поразил уровень сервиса и уважения к клиенту, который виден, начиная от просмотра сайта. Поразила качественная работа менеджера Татьяны. Исполнение заказа тоже оказалось на высоте, доставили в оговоренные сроки, оперативно и аккуратно собрали диван. Мне показалось, что его дольше подымали на 8 этаж (лифт оказался маленьким), чем собирали ))). Само качество дивана тоже понравилось, такое же как и в шоу-руме. Огромное спасибо всей команде Puffetto за Ваш профессионализм!!! С наступающим Новым годом и Рождеством Христовым! Пусть Ваша компания и сотрудники компании процветают!'
								)
					.row
						.col-md-12
							include ./partials/pagination.jade


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
