doctype html
html(lang='ru')
	head
		title AMERS - товар
		meta(charset="utf-8")

		include ./partials/head.jade
		link(rel="stylesheet", href="css/item-card.css")

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.item-card-page
				#item-card-main-slider.item-card-main-slider
					.container-alt
						.row
							.col-md-9.col-sm-12
								mixin mainCardSlide (image)
									a.item(href= image, style="background-image:url(" + image + ")")
										img(src= image, alt='description')

								#owl-main.owl-carousel.owl-theme
									+mainCardSlide(
										"http://zegen.ua/img/p/1/2/1/121.jpg"
									)
									+mainCardSlide(
										"https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg"
									)
									+mainCardSlide(
										"http://zegen.ua/img/p/1/2/2/122.jpg"
									)
									+mainCardSlide(
										"http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg"
									)
									+mainCardSlide(
										"https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg"
									)

							.col-md-3.col-sm-12
								#js-product-slide-pages.product-slide-pages


				.container-alt

					mixin material (name, price, color, image, checked)
						li
							//- , style="background-color:#{color};background-image:url(#{image})"
							input(id= name, value= name, data-price= price, type="radio", name="material", data-method="changeMaterial", checked= checked)
							label.material-link(for= name, data-toggle="tooltip", title="&nbsp", data-color= color, data-image= image, style="background-color:#{color};background-image:url(#{image})")

					.row

						form#js-item-card-main-form(action="#").col-md-12.item-card-main-form

							.row
								.col-md-9.col-sm-12
									#basic-information-row.basic-information-row
										.item-card-main-info-block
											.chosen-material
												span.chosen-material-label Выбрана ткань: 
												span#js-chosen-material
											.radios-inline
												.radio-group.form-group
													input#radio-6(type='radio', value='privat24', name='align', checked='true', data-price="20")
													label(for='radio-6') Левая сторона <img src="https://www.pufetto.com.ua/img/item/left.png" alt="left side" />
												.radio-group.form-group
													input#radio-7(type='radio', value='courier', name='align', data-price="50")
													label(for='radio-7') Правая сторона <img src="https://www.pufetto.com.ua/img/item/right.png" alt="right side" />
											span.price-tag(data-base-price="1920" data-currency="грн.") 2140
												small грн.
											a.btn.btn-grey(href="cart.html" data-toggle="modal" data-target="#cart-sidebar")
												span В корзину
											//- span.price-tag-old(data-base-price="2010" data-currency="грн.") 2230
												small грн.
											//- a.btn.btn-primary(href="order.html")
												span Купить в один клик

									ul.nav.nav-tabs.item-card-main-tabs-holder(role='tablist').hidden-xs
										li.active(role='presentation')
											a(href='#tab-category-1', aria-controls='tab-category-1', role='tab', data-toggle='tab') Популярные <small>от 100 до 300</small>
										li(role='presentation')
											a(href='#tab-category-2', aria-controls='tab-category-2', role='tab', data-toggle='tab') Стандарт <small>от 300 до 600</small>
										li(role='presentation')
											a(href='#tab-category-3', aria-controls='tab-category-3', role='tab', data-toggle='tab') Премиум <small>от 600 до 900</small>
										li(role='presentation')
											a(href='#tab-category-4', aria-controls='tab-category-3', role='tab', data-toggle='tab') Все <small>от 100 до 900</small>

									.tab-content.item-card-main-tab-content
										#tab-category-1.tab-pane.active.hidden-xs(role='tabpanel')
											h4 Категория ткани 20
											ul.list-inline.materials-list
												+material(
													'material-92',
													'200',
													'#788186',
													'https://www.pufetto.com.ua/fabrics/real/trinity-14.jpg',
													true
												)
												+material(
													'material-24',
													'300',
													'#6e4750',
													'http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/2/0/20.jpg'
												)
												+material(
													'material-64',
													'100',
													'#8a2252',
													'http://dommino.ua/media//catalog/product/d/k/30x30xdk-pink-13.jpg'
												)
												+material(
													'material-33',
													'600',
													'#745a44',
													'http://dommino.ua/media//catalog/product/g/o/30x30xgold-brown-05.jpg'
												)
												+material(
													'material-97',
													'270',
													'#868c8c',
													'http://dommino.ua/media//catalog/product/g/r/30x30xgrey-09.jpg'
												)
												+material(
													'material-997',
													'9270',
													'#dfbb42',
													'http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/s/e/seul-t75.jpg'
												)
												+material(
													'material-992',
													'9220',
													'#c28990',
													'http://dommino.ua/media//catalog/product/s/e/30x30xseul-t-82.jpg'
												)
												+material(
													'material-994',
													'9240',
													'#9c3047',
													'http://dommino.ua/media//catalog/product/s/e/30x30xseul-t65.jpg'
												)
												+material(
													'material-999',
													'9290',
													'#e4e3de',
													'http://dommino.ua/media//catalog/product/s/e/30x30xseul-0.jpg'
												)

										#tab-category-2.tab-pane.hidden-xs(role='tabpanel')
											h4 Категория ткани 61
											ul.list-inline.materials-list
												+material(
													'material-80',
													'313',
													'#bf533b'
												)
												+material(
													'material-22',
													'409',
													'#C96100'
												)
										#tab-category-3.tab-pane.hidden-xs(role='tabpanel')
											h4 Категория ткани 58
											ul.list-inline.materials-list
												+material(
													'material-20',
													'796',
													'#b79e65',
													'http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/1/0/10-sun_1.jpg'
												)
												+material(
													'material-21',
													'409',
													'#886a4e',
													'http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/s/e/seul-46.jpg'
												)
										#tab-category-4.tab-pane(role='tabpanel')
											h4 Категория ткани 20
											ul.list-inline.materials-list
												+material(
													'all-material-92',
													'200',
													'#788186',
													'https://www.pufetto.com.ua/fabrics/real/trinity-14.jpg'
												)
												+material(
													'all-material-24',
													'300',
													'#6e4750',
													'http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/2/0/20.jpg'
												)
												+material(
													'all-material-64',
													'100',
													'#8a2252',
													'http://dommino.ua/media//catalog/product/d/k/30x30xdk-pink-13.jpg'
												)
												+material(
													'all-material-33',
													'600',
													'#745a44',
													'http://dommino.ua/media//catalog/product/g/o/30x30xgold-brown-05.jpg'
												)
												+material(
													'all-material-97',
													'270',
													'#868c8c',
													'http://dommino.ua/media//catalog/product/g/r/30x30xgrey-09.jpg'
												)
											h4 Категория ткани 58
											ul.list-inline.materials-list
												+material(
													'all-material-20',
													'796',
													'#b79e65',
													'http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/1/0/10-sun_1.jpg'
												)
												+material(
													'all-material-21',
													'409',
													'#886a4e',
													'http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/s/e/seul-46.jpg'
												)
											h4 Категория ткани 61
											ul.list-inline.materials-list
												+material(
													'all-material-80',
													'313',
													'#bf533b'
												)
												+material(
													'all-material-22',
													'409',
													'#C96100'
												)

								.col-md-3.col-sm-12.item-card-important-props
									h3 Важная информация
									p Укомплектован: 
										b  пенополиуретан
									p Опоры: 
										b  дерево
									p Длина: 
										b  265 
											small см
												br
									p Ширина: 
										b  416 
											small см
												br
									p Глубина посадочного места: 
										b  60 
											small см
												br
									p Спальное место: 
										b  145x210 
											small см

							.row
								.col-md-12
									.item-card-main-description
										//- h1 Угловой диван ВИТТО
										p <mark>Витто</mark> - универсальный диван трасформер, конструкция которого легко  позволяет  самостоятельно изменять  угловое изделие на прямой диван и наоборот. Механизм раскладки "Еврокнижка"  без особых усилий превращает изделие в просторную двуспальную кровать, а вместительные короба для белья помогут разместить множество предметов. Также в диване предусмотрены ниши в подлокотниках, которые создают дополнительное место для вещей, а так же практичные ламинированные накладки с помощью которых подлокотники легко содержать в чистоте.
										p Стильная и комфортная модель "COUNTRY" - это сочетание простых линий и в то же время изысканных форм, понятных каждому. Удобное посадочное место позволит полноценно расслабится после тяжелого рабочего дня. Мягкие быльца дивана дополняют полноценный образ данной модели. Она является популярным решением для самых разнообразных вариантов интерьера. Представлена прямым нераскладным диваном, креслом и пуфом. Деревянные ножки модели изготовлены без декоративной покраски.

						.col-md-12.item-card-main-props
							h3.description-table-header Технические характеристики
							.table-holder
								table
									tbody
										tr
											td
												.props-group
													h4 Укомплектован: 
													p пенополиуретан, ламели, <br/>эластичные пасы
											td
												.props-group
													h4 Опоры: 
													p дерево
											td
												.props-group
													h4 Габаритные <br/>размеры:
													p Длина: 
														b 265 
															small см
																br
													p Ширина: 
														b 416 
															small см
																br
											td
												.props-group
													p Глубина посадочного места: <br/>
														b 60 
															small см
																br
													p Спальное место: <br/>
														b 145x210 
															small см


						.item-card-main-media.col-md-5.col-sm-12
							a(href="http://dormeosk.azureedge.net/media/catalog/product/cache/26/image/9df78eab33525d08d6e5fb8d27136e95/m/e/memory_2plus12_fresh_mattress.jpg")
								img(src="http://dormeosk.azureedge.net/media/catalog/product/cache/26/image/9df78eab33525d08d6e5fb8d27136e95/m/e/memory_2plus12_fresh_mattress.jpg", alt="matrace")
						.item-card-main-media.col-md-7.col-sm-12
							iframe(width='560', height='315', src='https://www.youtube.com/embed/4p6AnkK01ic', frameborder='0', allowfullscreen='')

							.item-card-main-description.hidden
								.row
									.col-md-6
										a(href="http://amers.ck.ua/upload/Juli_sh_1.jpg")
											img(src='http://amers.ck.ua/upload/Juli_sh_1.jpg', alt='Угловой диван PARMA')
									.col-md-6
										a(href="http://amers.ck.ua/upload/Nikol_sh_4.jpg")
											img(src='http://amers.ck.ua/upload/Nikol_sh_4.jpg', alt='Угловой диван PARMA')


					h3.description-table-header Отзывы покупателей

					.feedback-page.row
						mixin feed (name, img, user, city, date, description)
							li.feedback
								//- .header-block
								//- 	a(href="#")
								//- 		h3= name
								//- 		img(src= img, alt= name)
								.info-block
									ul
										li
											span= user
										li
											span= city
										li
											span= date
										li
											span.star-filled
											span.star-filled
											span.star-filled
											span.star-filled
											span.star
								.comment-block
									p= description

						ul.feedbacks-holder.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0.col-xs-12.col-xs-offset-0
							+feed(
								'Кресло Paolo',
								'https://www.pufetto.com.ua/items/paolo/a/1/small/a.paolo.jpg',
								'Виктория',
								'Ирпень',
								'10.01.2017',
								'Все понравилось, уже 3 покупка'
							)
							+feed(
								'Угловой диван Renata',
								'https://www.pufetto.com.ua/items/renata/d/1/small/d.renata.l.jpg',
								'Александра',
								'Одесса',
								'29.12.2016',
								'Очень довольны заказом. Диван выглядит очень красиво, ткань ETNA супер, переживали, чтоб не выглядел просто. Все было выполнено в срок, служба доставки/сборки пунктуальна, надели бахилы при входе, что я считаю безусловным плюсом. Будем рекомендовать'
							)
							+feed(
								'Двухспальная кровать Dimaro',
								'https://www.pufetto.com.ua/items/dimaro/g/1/small/g.dimaro.jpg',
								'Ольга',
								'Киев',
								'27.12.2016',
								'Заказ приняли оперативно. Доставили даже чуть раньше обещанного срока. Сборщики вежливые, аккуратные, в бахилах. Качество кроватки и матраца - на высоте, сплошное удовольствие. Один момент - цвет обивки все же лучше выбирать не полагаясь на фото с сайта, т.к. вышло чуть темнее ожидаемого.'
							)

						.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0.col-xs-12.col-xs-offset-0.feedbacks-buttons-holder
							a.btn.btn-primary(href='#' data-toggle="modal" data-target="#leave-feedback-modal")
								span Оставить отзыв
							a.btn.btn-primary(href='feedback.html')
								span Читать все отзывы

					.row.hidden-xs.item-card-same-items
						.col-md-12
							h3.description-table-header Похожие товары
						#owl-other-items.owl-carousel.owl-theme
							a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=260)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=260', alt='description')
							a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=260)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=260', alt='description')
							a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=260)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=260', alt='description')
							a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=260)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=260', alt='description')
							a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=260)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=260', alt='description')


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	link(rel="stylesheet", href="external/owl/owl-carousel/owl.carousel.css")
	script(src='external/owl/owl-carousel/owl.carousel.min.js')
	link(rel="stylesheet", href="external/magnific-popup/dist/magnific-popup.css")
	script(src="external/magnific-popup/dist/jquery.magnific-popup.min.js")

	script(src='js/item-card.js')
